
@{
    ViewBag.Title = "truYum";
}

<h1>truYum</h1><br />

<h3>Welcome to truYum :-) Online Food Ordering App</h3><br />

<p>Order the your favaourite food and get it delevired to your home</p><br />


@Html.ActionLink("Click Here to View Food Items to Order", "Index")<br/><br />
@Html.ActionLink("View Cart", "Cart")
